* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    width: 120px;
    background-color: #e6ffc7;
    border-radius: 15px 15px;
}

table {
    max-width: 100%;
    border-spacing: 30px;
    border-collapse: separate;
    background-color: #00ffc7;
    border-radius: 15px 15px;
}

tr {
    height: 120px;
}

img {
    /* source: https://stackoverflow.com/a/16695520 by: Maurizio Battaghini */
    /* prevents most img selection cases. */
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
    /***********************************************/
}

td > img {
    display: block;
    margin: auto;
}
