* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    width: 150px;
    background-color: red;
}

table {
    max-width: 100%;
}

tr {
    height: 150px;
}

img {
    /* source: https://stackoverflow.com/a/16695520 by: Maurizio Battaghini */
    /* prevents most img selection cases. */
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}
